/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  width: 960px;
  margin: 20px auto;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

td {
  padding: 12px 0px;
  font-size: 18px;
  border-bottom: solid 1px #5484a7;
}

table {
  margin-top: 24px;
  width: 80%;
}
th {
  padding-bottom: 12px;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  border-bottom: 4px solid #5484a7;
}
