<div class="FBG">
      <div class="FBG_resize">
        <div class="left">
          <h2>About </h2>
          <ul>
            <li><a href="#">Overview</a></li>
            <li> <a href="#">Another Link</a></li>
            <li> <a href="#">Our Company</a></li>
            <li> <a href="#">Our Staff</a></li>
            <li> <a href="#">Mission </a></li>
            <li> <a href="#">Statement</a></li>
          </ul>
        </div>
        <div class="left">
          <h2>Services</h2>
          <ul>
            <li><a href="#">First Service</a></li>
            <li> <a href="#">Second Service</a></li>
            <li> <a href="#">Another Service</a></li>
            <li> <a href="#">A Fourth Service</a></li>
          </ul>
        </div>
        <div class="left">
          <h2>Media</h2>
          <ul>
            <li><a href="#">Image Gallery</a></li>
            <li> <a href="#">Video Gallery</a></li>
            <li> <a href="#">Audio Files</a></li>
            <li> <a href="#">The Podcast</a></li>
          </ul>
        </div>
        <div class="left">
          <h2>Blog</h2>
          <ul>
            <li><a href="#">Category One</a></li>
            <li> <a href="#">Category 2</a></li>
            <li> <a href="#">Another Category</a></li>
            <li> <a href="#">Category</a></li>
            <li> <a href="#">A Fifth Category</a></li>
          </ul>
        </div>
        <div class="left">
          <h2>More Links</h2>
          <ul>
            <li><a href="#">Sign Up Now</a></li>
            <li> <a href="#">We Are Hiring</a></li>
            <li> <a href="#">Terms &amp; Conditions</a></li>
            <li> <a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="left">
          <h2>Contact Us</h2>
          <ul>
            <li><a href="#">Email Sales</a></li>
            <li> <a href="#">Email Support</a></li>
            <li> <a href="#">Phone: 555-555-3211</a></li>
            <li> <a href="#">Send Us Feedback</a></li>
          </ul>
        </div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
    
    <div class="footer">
      <div class="footer_resize">
        <p class="leftt">© Copyright Leeway . All Rights Reserved. <a href="#">Home</a> | <a href="#">Contact</a> | <a href="#">RSS </a></p>
        <p class="right">(DT) <a href="#">Leeway</a></p>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
 </div>

</body>
</html>
