<script src="/assets/js/smartLoader.js"></script>

 <div class="FBG">
      <div class="FBG_resize">
        <div class="left">
          <h2>About </h2>
          <ul>
            <li><a href="/about">Overview</a></li>
            <li> <a href="/about">Another Link</a></li>
            <li> <a href="/about">Our Company</a></li>
            <li> <a href="/about">Our Staff</a></li>
            <li> <a href="/about">Mission </a></li>
            <li> <a href="/about">Statement</a></li>
          </ul>
        </div>
        <div class="left">
          <h2>Services</h2>
          <ul>
            <li><a href="/about">First Service</a></li>
            <li> <a href="/about">Second Service</a></li>
            <li> <a href="/about">Another Service</a></li>
            <li> <a href="/about">A Fourth Service</a></li>
          </ul>
        </div>
        <div class="left">
          <h2>Media</h2>
          <ul>
            <li><a href="/about">Image Gallery</a></li>
            <li> <a href="/about">Video Gallery</a></li>
            <li> <a href="/about">Audio Files</a></li>
            <li> <a href="/about">The Podcast</a></li>
          </ul>
        </div>
        <div class="left">
          <h2>Blog</h2>
          <ul>
            <li><a href="/about">Category One</a></li>
            <li> <a href="/about">Category 2</a></li>
            <li> <a href="/about">Another Category</a></li>
            <li> <a href="/about">Category</a></li>
            <li> <a href="/about">A Fifth Category</a></li>
          </ul>
        </div>
        <div class="left">
          <h2>More Links</h2>
          <ul>
            <li><a href="/about">Sign Up Now</a></li>
            <li> <a href="/about">We Are Hiring</a></li>
            <li> <a href="/about">Terms &amp; Conditions</a></li>
            <li> <a href="/about">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="left">
          <h2>Contact Us</h2>
          <ul>
            <li><a href="/about">Email Sales</a></li>
            <li> <a href="/about">Email Support</a></li>
            <li> <a href="/about">Phone: 555-555-3211</a></li>
            <li> <a href="/about">Send Us Feedback</a></li>
          </ul>
        </div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
    
    <div class="footer">
      <div class="footer_resize">
        <p class="leftt">© Copyright Leeway . All Rights Reserved. <a href="/">Home</a> | <a href="/contact">Contact</a> | <a href="#">RSS </a></p>
        <p class="right">(DT) <a href="/about">Leeway</a></p>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
 </div>

</body>
</html>
