
<body>


  <nav id="main-nav" class="launcher">
    <span id="tab-nav"><%= image_tag "images/transparent.png" %>&nbsp;</span>
    <div id="nav-menu">
            <div id="social-wrapper">
                <ul id="network-menu">
                        <li id="scl-twitter"><a href="#" title="SEO KEYWORDS">TWITTER</a></li>
                        <li id="scl-facebook"><a href="#" title="SEO KEYWORDS">FACEBOOK</a></li>
                        <li id="scl-flickr"><a href="#" title="SEO KEYWORDS">FLICKR</a></li>
                        <li id="scl-linkidn"><a href="#" title="SEO KEYWORDS">LINKEDIN</a></li>
                </ul>
            </div>
            
            <div id="nav-options2">
        <div>
                    <ul id="">
                        <li><a href="about.html" class="none" title="SEO KEYWORDS">Menu 1</a></li>
                        <li><a href="contact.html" class="none" title="SEO KEYWORDS">Menu 2</a></li>
                        <li><a href="menu.html" class="none" title="SEO KEYWORDS">Menu 3</a></li>
                        <li><a href="#" class="none" title="SEO KEYWORDS">Menu 4</a></li>
                        <li><a href="#" class="none" title="SEO KEYWORDS">Menu 5</a></li>
                        <li><a href="#" class="none" title="SEO KEYWORDS">Menu 6</a></li>
                        <li><a href="#" class="none" title="SEO KEYWORDS">Menu 7</a></li>
                </ul>
                 </div>
              </div>
              
              
              <div id="nav-options">
              <figure id="logo"><%= image_tag "images/logo-navigation.png" %></figure>
              <div id="filters">
                    <h4 class="nav-section">Filters</h4>
                    <ul id="filter-menu">
                        <li><a href="#all" id="cat-all" class="none" title="SEO KEYWORDS">ALL</a></li>
                        <li><a href="#webdesign" class="cat-webdesign" title="SEO KEYWORDS">SOCIAL NETWORKS</a></li>
                        <li><a href="#indentity" class="cat-identity" title="SEO KEYWORDS">PERSONAL</a></li>
                        <li><a href="#motion" class="cat-motion" title="SEO KEYWORDS">SUPPLIES</a></li>
                 
                        <li><a href="#print" class="cat-print" title="SEO KEYWORDS">OTHER</a></li>
                    </ul>
                    <span><a href="#" class="btn-back-sections close-sub" id="close-filters" title="SEO KEYWORDS">Back menu &rarr;</a></span>
              </div>
                
                <div id="sections">
                    <h4 class="nav-section">Sections</h4>
                    <ul id="nav-sections">
                        <li><a id="filters-launcher" href="#" title="SEO KEYWORDS">FILTERS</a></li>
                        <li><a href="about.html" title="SEO KEYWORDS">ABOUT</a></li>
                        <li><a href="php/mydribbble/player-info.php" title="SEO KEYWORDS">COMING SOON</a></li>
                        <li><a href="news.html" title="SEO KEYWORDS">NEWS</a></li>
                        <li><a href="contact.php" title="SEO KEYWORDS">CONTACT</a></li>
                    </ul>
                </div>
   
             </div><!--end div#nav-options-->
        </div>
             
        <p id="copyright"><span>Leeway &trade; </span> &copy; 2013 · All Rights Reserved</p>
</nav>

<script src="js/smartLoader.js"></script>




<div id="wrapper">

<div class="main">

  <div class="header">

    <div class="Click"> Follow us on the social network sites for the latest updates on our projects or so.</div>

    <div class="rss"> <img src="/assets/images/rss_4.gif" alt="picture" width="16" height="16" class="floated" /> <img src="/assets/images/rss_3.gif" alt="picture" width="16" height="16" class="floated" /> <img src="/assets/images/rss_2.gif" alt="picture" width="16" height="16" class="floated" /> <img src="/assets/images/rss_1.gif" alt="picture" width="16" height="16" class="floated" /> </div>

    <div class="search">

      <form id="form1" name="form1" method="post" action="">

        <span>

        <input name="q" type="text" class="keywords" id="textfield" maxlength="50" value="Search..." />

        </span>

        <input name="b" type="image" src="/assets/images/search.gif" class="button" />

      </form>

    </div>

    <div class="clr"></div>

    <div class="menu">

      <ul>

      </ul>

      <div class="clr"></div>

    </div>

    <img src="/assets/images/header_im_bottom.gif" alt="picture" width="980" height="22" />

    <div class="clr"></div>

  </div>





