<body class="gal-v2">
<header id="top-title-bar"><figure><img src="/assets/images/top-bar.png" width="240" height="24" alt="SEO KEYWORDS"></figure></header>
<div id="top-title-bar-sdevice"><figure><img src="/assets/images/top-bar-small.png" width="250" height="20" alt="SEO KEYWORDS"></figure></div>

<nav id="main-nav" class="launcher">
    <span id="tab-nav"><img src="/assets/images/transparent.png" alt="">&nbsp;</span>
    <div id="nav-menu">
            <div id="social-wrapper">
                <ul id="network-menu">
                        <li id="scl-twitter"><a href="#" title="SEO KEYWORDS">TWITTER</a></li>
                        <li id="scl-facebook"><a href="#" title="SEO KEYWORDS">FACEBOOK</a></li>
                        <li id="scl-flickr"><a href="#" title="SEO KEYWORDS">FLICKR</a></li>
                        <li id="scl-linkidn"><a href="#" title="SEO KEYWORDS">LINKEDIN</a></li>
                </ul>
            </div>
            
            <div id="nav-options2">
            <h4 class="nav-section">Leeway</h4>
        <div>
                    <ul id="">
                        <li><a href="index.html" class="none" title="SEO KEYWORDS">HOME</a></li>
                        <li><a href="about.html" class="none" title="SEO KEYWORDS">ABOUT</a></li>
                        <li><a href="signup.html" class="none" title="SEO KEYWORDS">SIGN UP</a></li>
                        <li><a href="#" class="none" title="SEO KEYWORDS">CONTACT</a></li>
                </ul>
                 </div>
                 <br />
                <h4 class="nav-section">Signed In</h4>
        <div>
                    <ul id="">
                        <li><a href="index.html" class="none" title="SEO KEYWORDS">ACCOUNTS HUB</a></li>
                        <li><a href="about.html" class="none" title="SEO KEYWORDS">MANAGE ACCOUNT</a></li>
                        <li><a href="users/<%= session[:user_id ] %>" class="none" title="SEO KEYWORDS">PROFILE</a></li>
                        <li><a href="#" class="none" title="SEO KEYWORDS">CONTACT</a></li>
                        <br />
                        <li><a href="sessions/destroy" class="none" title="SEO KEYWORDS">LOG OUT</a></li>
                </ul>
                 </div>
              </div>
              
              
              <div id="nav-options">
              <figure id="logo"><img src="/assets/images/logo-navigation2.png" alt=""></figure>
              <div id="filters">
                    <h4 class="nav-section">Filters</h4>
                    <ul id="filter-menu">
                        <li><a href="#all" id="cat-all" class="none" title="SEO KEYWORDS">ALL</a></li>
                        <li><a href="#shopping" class="cat-shopping" title="SEO KEYWORDS">SHOPPING</a></li>
                        <li><a href="#account" class="cat-account" title="SEO KEYWORDS">ACCOUNT</a></li>
                        <li><a href="#social" class="cat-social" title="SEO KEYWORDS">SOCIAL</a></li>
                 
                        <li><a href="#work" class="cat-work" title="SEO KEYWORDS">WORK</a></li>
                    </ul>
                    <span><a href="#" class="btn-back-sections close-sub" id="close-filters" title="SEO KEYWORDS">Back menu &rarr;</a></span>
              </div>
                
                <div id="sections">
                    <h4 class="nav-section">Sections</h4>
                    <ul id="nav-sections">
                        <li><a id="filters-launcher" href="#" title="SEO KEYWORDS">FILTERS</a></li>
                        <li><a href="about.html" title="SEO KEYWORDS">ABOUT</a></li>
                        <li><a href="php/mydribbble/player-info.php" title="SEO KEYWORDS">COMING SOON</a></li>
                        <li><a href="news.html" title="SEO KEYWORDS">NEWS</a></li>
                        <li><a href="contact.php" title="SEO KEYWORDS">CONTACT</a></li>
                    </ul>
                </div>
   
             </div><!--end div#nav-options-->
        </div>
             
        <p id="copyright"><span>Leeway &trade; </span> &copy; 2013 · All Rights Reserved</p>
</nav>

<script src="/assets/js/smartLoader.js"></script>




<div id="wrapper">

<div class="main">

  <div class="header">

    <div class="Click"></div>

    <div class="rss"> </div>

    <div class="search">

      

    </div>

    <div class="clr"></div>

    <div class="menu">

      <ul>

      </ul>

      <div class="clr"></div>

    </div>

    <img src="/assets/images/header_im_bottom.gif" alt="picture" width="980" height="22" />

    <div class="clr"></div>

  </div>






<%= yield %>


